/* step-3 */
body{
 background-color: #F49D6E;
}
/* step-5 */
.head {
    color: darkblue;
}
/* step-6 */
#bglime{
    background-color: lime;
}
#bglime p{
    color: red;
}

p{
    color: white;
}
#para{
    color: green;
}


#para b{
    color: black;
    font-size: larger;
}
li a{
    color: white;
     background-color: blue;
}
